<footer style="background-color: #0d1b1e;" class="text-center text-light py-4 mt-5 shadow-lg border-top border-1 border-info">

  <section class="container d-flex justify-content-center justify-content-lg-between p-4" style="color: #00ffcc;">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="#" class="me-4" style="color: #00ffcc"><i class="fa fa-facebook"></i></a>
      <a href="#" class="me-4" style="color: #00ffcc;"><i class="fa fa-twitter"></i></a>
      <a href="#" class="me-4" style="color: #00ffcc;"><i class="fa fa-google"></i></a>
      <a href="#" class="me-4" style="color: #00ffcc;"><i class="fa fa-instagram"></i></a>
      <a href="#" class="me-4" style="color: #00ffcc;"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="me-4" style="color: #00ffcc;"><i class="fa fa-github"></i></a>
    </div>
  </section>

  <section>
    <div class="container text-center text-md-start mt-5" style="color: #00ffcc;">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00ffcc;"></i> Defencia.in</h6>
          <p>
            Defencia.in is a one stop destination for your family's data privacy needs.
            We give you the security sevices
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00ffcc;">Useful links</h6>
         
          <p><a href="{% url 'App:leadership'%}" class="text-decoration-none" style="color: #00ffcc;">Leadership</a></p>
          <p><a href="{% url 'App:about' %}" class="text-decoration-none" style="color: #00ffcc;">About Us</a></p>
          <p><a href="{%url 'App:contact' %}" class="text-decoration-none" style="color: #00ffcc;">Contact </a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00ffcc;">Contact</h6>
          <p><i class="fa fa-home me-3" style="color: #00ffcc;"></i> 123 Cyber Street, TamilNadu, India</p>
          <p><i class="fa fa-envelope me-3" style="color: #00ffcc;"></i> Defenciain@gmail.com</p>
          <p><i class="fa fa-phone me-3" style="color: #00ffcc;"></i> +91 000000000</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2); color: #00ffcc;">
    &copy; 2025 Copyright
    <a class="text-decoration-none fw-bold" href="https://Defencia.in/" style="color: #00ffcc;">Defencia.in</a>
  </div>
</footer>
